body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  max-height: 896px;
  background-color: #ffffff;
}

@media screen and (min-width: 414px) {
  .home {
    width: 414px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid #000000;
  }
}

.cover_image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.image_01 {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.intro p {
  padding: 44px 20px;
  word-break: break-all;
  text-align: justify;
}

.btn {
  border: 0 !important;
  padding: 0 !important;
}

.a_link_btn {
  vertical-align: top;
}

.loading_screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1500;
  overflow: hidden;
  -webkit-animation: loading_screen_white 0.6s cubic-bezier(0.9, 0.03, 0.29, 0.82);
          animation: loading_screen_white 0.6s cubic-bezier(0.9, 0.03, 0.29, 0.82);
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading_screen:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #DAA67e;
  content: '';
  -webkit-animation: loading_screen_black 0.6s cubic-bezier(0.9, 0.03, 0.29, 0.82);
          animation: loading_screen_black 0.6s cubic-bezier(0.9, 0.03, 0.29, 0.82);
}

@-webkit-keyframes loading_screen_black {
  0% {
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 0, 0px);
            transform: translate3d(0px, 0, 0px);
  }
}

@keyframes loading_screen_black {
  0% {
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 0, 0px);
            transform: translate3d(0px, 0, 0px);
  }
}

@-webkit-keyframes loading_screen_white {
  0% {
    -webkit-transform: translate3d(0px, 0, 0px);
            transform: translate3d(0px, 0, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
}

@keyframes loading_screen_white {
  0% {
    -webkit-transform: translate3d(0px, 0, 0px);
            transform: translate3d(0px, 0, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
}
